header {
  width: 300px;
  font-size: 30px;
  color: #fff;
  text-align: center;
  margin: 20px auto;
  padding: 10px 0;
  background-color: #808080;
}

.images {
  background-color: red;
}


body {
  /*background: red;*/
}
